.cartSection{
        margin-top: 120px;
        margin-bottom: 20px;
}

#image img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
}

#continueBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        width: 200px;
        border: 1px solid gray;
        padding: 5px 3px ;
        border-radius: 3px;
        color: white;
        background-color: black;
}


/* ====== Order Form =========== */


.orderBtn, .updateBtn{
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: #046C4E;
        color: white;
        padding: 5px 0;
        font-weight: 600;
}