
/* ===========CSS for ADD REVIEW Section======= */


.reviewFormContainer {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}


.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reviewInput label {
  font-size: 1em;
  color: #555;
  margin-bottom: 5px;
}

.reviewInput input[type="text"],
.reviewInput select,
.reviewInput textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;

}

.reviewInput input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.814);
  color: #fff;
  padding: 10px;

  cursor: pointer;
  font-size: 1rem;
  padding: 5px 8px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.reviewInput input[type="submit"]:hover {
        background-color: black;
}
@media (max-width: 600px) {
  .image img {
    max-width: 100%;
  }
  .reviewFormContainer {
    padding: 15px;
  }
  .reviewFormContainer h3 {
    font-size: 1.2em;
  }

  .reviewInput input[type="text"],
  .reviewInput select,
  .reviewInput textarea {
    padding: 8px;
    font-size: 0.9em;
  }

  .reviewInput input[type="submit"] {
    padding: 8px;
    font-size: 0.9em;
  }
}



