footer{
        max-width: 1600px;
        margin: auto;
        color: white;
        background-color: black;
        border-radius: 2px;      
}

footer li a{
        color: white;
}

span, span>a{
        color: white;
}