/* ===========Hero Section Css============ */
.heroAreaSection {
  margin-top: 100px;
 

}

.slideContainer{
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;

}

#homeBtn {
  display: block;
  margin-top: 10px;
  height: 2.5rem;
  padding: 5px 10px;
  text-align: center;
  width: 7em;
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
}
#description {
  margin-top: 10px;
}

/* ==========Brand Section CSS============  */
.brandSection {
  margin: 30px 30px;
  text-align: center;
  padding: 10px;
  max-height: 1000px;
}

.brandContainer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
 
}

.brandContent {
  display: flex;
  width: max-content; 
  animation: slide_image 20s linear infinite;
}

.brandContent:hover {
  animation-play-state: paused;
}

@keyframes slide_image {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.singleBrand {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;

}

.singleBrand img {
  width: 250px;
  height: 250px;
  border: 1px solid #5e42428c;
  transition: 1s all ease-in-out;

}

.singleBrand:hover {
  transform: translateZ(20px);
}

.singleBrand  h2{
  border: 1px solid gray;
}


.brandContainer::before,
.brandContainer::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}


@media (max-width: 1200px) {
  .brandContainer {
    height: 250px;
  }
  
  .singleBrand img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .brandContainer {
    height: 200px;
  }

  .singleBrand img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 768px) {
  .brandContainer {
    height: 180px;
  }

  .singleBrand img {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 576px) {
  .brandContainer {
    height: 160px;
  }

  .singleBrand img {
    width: 160px;
    height: 140px;
  }
}

@media (max-width: 400px) {
  .brandContainer {
    height: 140px;
  }

  .singleBrand img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 300px) {
  .brandContainer {
    height: 120px;
   
  }

  .singleBrand img {
    width: 100px;
    height: 100px;
  }

  .singleBrand {
    padding: 10px;
  }
}


