body {
  max-width: 1600px;
  border: 1px solid gray;
  margin: auto;
  padding: 0px 10px;
}
nav {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: white;
  z-index: 100;
  padding: 0 5px;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

#navbar > li > a, #nabvar2>li>a, #navbar3>li>a {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.listItem {
  display: flex;
  flex-direction: column;
}

.listItem:hover,
i:hover {
  color: blue;
}

li > a > i {
  color: black;
}

/* ======Card ======= */

#card {
  border: 1px solid #8080803f;
  border-radius: 2px;
}

#card img {
  transition: 0.5s all ease-in-out;
}

#card img:hover {
  overflow: hidden;
 transform: translate(10px);
}

#card_title {
  background-color: #cfccc85b;
}

/* =======Review=========== */

#reviewImage {
  height: 200px;
}

/* =====Category===== */

#category {
  width: 310px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#category a {
  width: 100px;
  text-align: center;
  border: 1px solid #8080805f;
  border-radius: 3px;
  margin: 0 1px;
  margin-bottom: 10px;
  padding: 1px;
  font-size: 10px;
}

/* =======JUST IN===== */
h6 {
  text-align: center;
  padding: 5px 0;
  font-size: 1.5rem;
  color: #03543f;
  font-weight: bold;
  text-transform: uppercase;
}

/* =====Details====== */

#detailsContainer {
  max-width: 1000px;
  margin: auto;
}

#details_card {
  background-color: #eeedeb;
}

#hr {
  border: 1px solid #0000003d;
}

/* ======user dropdown====== */

#user_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2A55A;
  border-radius: 30px;
  gap: 15px;
}

#user_dropdown > a > i {
  color: white;
  text-align: center;
}

#welcome_title{
  background-color: #9b979724;
}

#welcome_title span{
  color: black;
}
