

.regSection {
  width: 90%;
  max-width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 120px auto;
  box-shadow: 0 4px 10px #0000001a;
}

.regMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regContainer {
  width: 100%;
}
.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reginput {
  width: 100%;
}

.reginput label {
  display: block;
  margin-top: 4px;
  margin-bottom: 5px;
 font-weight: 400;
}

.reginput input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 14px;
}

.regBtn {
  width: 100%;
}

.regBtn button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4cb5f9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.regBtn button:hover {
  background-color: #3aaae0;
}

.account {
  text-align: center;
  margin-top: 20px;
}

.account p {
  font-size: 14px;
  color: #555;
}

.account a {
  text-decoration: none;
  color: #0f3b74;
  font-weight: bold;
  transition: color 0.3s ease;
}

.account a:hover {
  color: #0d2c56;
}

@media (max-width: 768px) {
  .regSection {
    margin: 120px auto;
    padding: 20px;
  }

  .regBtn button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .reginput input {
    font-size: 12px;
    padding: 8px;
  }

  .regBtn button {
    font-size: 14px;
    padding: 8px;
  }
}
