*{
        margin: 0;
        padding: 0;
}




.resetContainer{
        width: 1500px;
        margin: 100px auto;
        align-items: center;
      
}


.resetContainer h4{
        text-align: center;
        font-size: 25px;
        color: black;
        font-weight: 600;

}

.resetContainer form{
        width: 1000px;
      
        margin: 20px auto;
}

.resetEmail{
        width: 500px;
        margin: auto;
       
}

.resetEmail input{
        display: block;
        width: 90%;
        margin: auto;
        color: black;
        border: 1px solid gray;
        background-color: white;
        border-radius: 4px;

}


.resetBtn{
        font-size: 15px;
        width: 70px;
        border: 1px solid gray;
        margin: 20px 0 0 275px;
        padding: 2px 3px;
        border-radius: 4pxp;
        transition: 0.5s;
}


.resetBtn:hover{
        background-color: black;
        color: white;
}


/* Reset form */


.resetForm{
        width: 1200px;

        margin: 100px auto;
        border: 1px solid gray;

}


.resetFormTitle{

        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: black;

font-weight: 600;
}


.resetForm form{
        width: 1000px;
        margin: 50px auto;
        border: 2px solid gray;
}

.inputContainer{
        border: 2px solid black;
}