.loginSection {
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border: 1px solid #00000052;
  margin: 120px auto 20px auto;
}

.companyName img {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: auto;
}

.loginContainer {
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f0f0f0;
  font-size: 14px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.loginBtn button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4cb5f9;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginBtn button:hover {
  background-color: #3aaae0;
}

.orTitle h3 {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin: 20px 0;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.socialContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginIcon i {
  color: #385185;
  font-size: 20px;
}

.loginTitle h3 {
  font-size: 14px;
  color: #385185;
  font-weight: 500;
  margin-left: 10px;
}

.loginTitle a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #385185;
  font-weight: bold;
}

.resetPassword a {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #777;
  text-decoration: none;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.resetPassword a:hover {
  color: #333;
}

.haveAccount {
  text-align: center;
  margin-top: 20px;
}

.haveAccount p {
  font-size: 14px;
  color: #555;
}

.haveAccount a {
  text-decoration: none;
  color: #0f3b74;
  font-weight: bold;
  transition: color 0.3s ease;
}

.haveAccount a:hover {
  color: #0d2c56;
}

@media (max-width: 768px) {
  .loginSection {
    margin: 120px auto 20px auto;
    padding: 20px;
  }

  .loginBtn button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .input input {
    font-size: 12px;
    padding: 8px;
  }

  .loginBtn button {
    font-size: 14px;
    padding: 8px;
  }

  .orTitle h3 {
    font-size: 12px;
  }

  .loginTitle h3 {
    font-size: 12px;
  }
}






