@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");



.sectionContainer{
        margin-top: 120px;  
        margin-bottom: 40px;  
}

.belowSection{
        margin-bottom: 40px;
}

#storeContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.pagination{
        margin-top: 20px;
}



/* ======Profile Update======== */

.updateProfile{
        width: 150px;
        margin: auto;
        border: 1px solid gray;
        border-radius: 20px;
        background-color: #03543F ;
        color: white;
}

.updateProfile>a, .updateProfile>a>i{
        color: white;
}


/* ======Profile CSS====== */

#infoContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
        
}
#info_image{
        margin-top: 10px;
}
#info_image img{
        padding:10px;
}


#info_form{
        margin-top: 30px;
}

#info_form label{
        display: block;
        margin: 5px 0;
}
