@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* ======Style for all == ===== */

/* .btn {
  border: 1px solid gray;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 8px;
  transition: 0.5s all ease-in-out;
  font-weight: 600;
}
.btn:hover {
  color: white;
  background-color: black;
} */

section h1 {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}

header h3 {
  background-color: #333c47;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
  position: fixed;
  top: 0px;
  z-index: 100;
  left: 0;
  right: 0;
}

