{% extends "base.html" %}
{% load static %} 
{% block title %}Product Details {%endblock %} 
{% block body %}

<section class="detailsSection">
  <div class="detailsContainer">
  
      <div class="image">
        <a href="">
          <img class="img" src="{{product.productImage.url}}" alt=""
        /></a>
      </div>

      <div class="details">
        <h1>{{product.category.categoryName}}</h1>
        <hr />

        <h2>{{product.productName}}</h2>
        {% if product.is_discount %}
        <h3 class="price">{{regular_price}} <sub>Tk.</sub> (Regular Price)</h3>
        <h3 class="price">{{discount_price}} <sub>Tk.</sub> (Discount Price)</h3>
        {% else %}
        <h3 class="price">{{regular_price}} <sub>Tk.</sub> (Discount Price)</h3>

        {% endif %}

        <p>{{product.productDescription}}</p>
        <h3 class="price">Stock: {{product.stock}}</h3>

        <form method="POST">
          {% csrf_token %}
          <a class="cartBtn" href="{% url 'addCart' product.id %}"
            >Add To Cart</a
          >
        </form>
      </div>
    </div>
  
</section>
<hr>
<section class="reviewFormSection">
    <h1>add your words</h1>
    <div class="empty">

    </div>
  <div class="reviewFormContainer">

    <form class="reviewForm" action="" method="POST">
      {% csrf_token %}

      <div class="reviewInput">
        <label for="{{ form.rating.id_for_label }}">Rating</label>
        {{ form.rating }}
      </div>

      <div class="reviewInput">
        <label for="{{ form.review.id_for_label }}">Review</label>
        {{ form.review }}
      </div>

      <div class="reviewInput">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</section>
<hr>
<section class="showReviewSection">
    <h1>customers say</h1>
   <div class="empty">
    
   </div>
<div class="reviewSlider">
    <div
    class="swiffy-slider slider-item-show3 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart my-3 slider-nav-sm my-xl-5 slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation slider-item-last-visible"
  >
    <div class="slider-container">
      {% for review in reviews %}
      <div class="">
        <div>
          <h3 class="mb-0 h6" style="color: #df1e1e">{{review.rating}}</h3>

          <strong>{{review.review}}</strong>
          <div>
            <small class="text-muted text-uppercase">{{review.user}}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button
      type="button"
      class="slider-nav slider-nav-next"
      aria-label="Go left"
    ></button>

    <div
      class="slider-indicators"
      style="justify-content: right; margin-left: 3rem"
    >
      <button class="" aria-label="Go to slide"></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class="active"></button>
    </div>
  </div>
</div>
</section>

{% endblock %}
