{% extends "base.html" %} {% load static %} {% block title %}Product Details
{%endblock %} {% block body %}

<section class="sectionContainer">
  <h6><i class="fa-solid fa-circle-info"></i> Details for {{product.slug}}</h6>
  <div
    id="detailsContainer"
    class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein"
  >
    <div id="details_card" class=" shadow h-100">
      <div class="ratio ratio-16x9">
        <img
          src="{{product.productImage.url}}"
          class="card-img-top"
          loading="lazy"
          alt="..."
        />
      </div>


      <div class="card-body p-3 p-xl-5 flex justify-between items-center">
        <p class="card-text">{{product.productDescription}}</p>
      </div>


      <!-- <div>
  
      </div> -->

      <div class="card-body p-3 p-xl-5 flex justify-between items-center">
        <div>
          {% if product.is_discount %}
          <h3 class="price">{{regular_price}} <sub>Tk.</sub> (Regular)</h3>
          <h3 class="price">{{discount_price}} <sub>Tk.</sub> (Discount)</h3>
          {% else %}
          <h3 class="price">{{regular_price}} <sub>Tk.</sub> (Discount Price)</h3>
  
          {% endif %}

        </div>
       <a class="btn border bg-dark p-2 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" href="{% url 'addCart' product.id %}"
        ><i class="fa-solid fa-cart-plus"></i></a
      >
      </div>

      <hr id="hr" class="border">
      <div class="card-body p-3 p-xl-5 flex justify-between items-center">
        <h3 class="card-title h5">{{product.productName}}</h3>

        <h3 class="">Stock: {{product.stock}}</h3>
    
      </div>


    </div>
  </div>
</section>

<section class="belowSection review_form_section">
    <h6><i class="fa-solid fa-person-circle-plus"></i> add your words</h6>
 
  <div class="reviewFormContainer">

    <form class="reviewForm" action="" method="POST">
      {% csrf_token %}

      <div class="reviewInput">
        <label for="{{ form.rating.id_for_label }}">Rating</label>
        {{ form.rating }}
      </div>

      <div class="reviewInput">
        <label for="{{ form.review.id_for_label }}">Review</label>
        {{ form.review }}
      </div>

      <div class="reviewInput">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</section>





<section class="belowSection">
  <h6><i class="fa-solid fa-star"></i> Customers Review</h6>
 {% if reviews %}
 <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
  {% for review in reviews %}

  <div id="card" class="bg-white shadow-md  overflow-hidden">
  
    <div id="reviewImage" class=" flex flex-col items-center px-2 py-2 pt-5 pb-3">
        <img class="w-20 h-20 mb-3 rounded-full shadow-lg" src="{{review.user.image.url}}" alt=""/>
        
        <span class="text-sm text-gray-500 dark:text-gray-400">`{{review.review}}`</span>
    </div>
    <hr
    class="my-1 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-5"
  />
  <div class="mt-1 mb-2 px-2 flex justify-between items-center">
    <h3 class="text-lg font-semibold mt-1 ml-4">
       {{ review.user.username }}
    </h3>
    <h3 class="text-lg font-semibold mt-1 ml-4">
      {{ review.rating }}
   </h3>
  </div>
</div>


  {% endfor %}
</div>
{% else %}
<p class="text-center">No reviews yet</p>
{% endif %}
</section> 

{% endblock %}
