
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block body %}



        <section class="heroAreaSection">
                
                <div class="heroAreaText">
                        <h1>Men's New Arrivals</h1>
                        <p>New colors, now also available in men's sizing</p>
                        <a href="{% url 'store' %}" class="collecttionBtn">Store</a>
                </div>

        </section>


        

       
      


  

{% endblock %}
