{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock %}

{% block body %}

<main>
        <section class="regSection">


                <div class="regMain">
                        <div class="companyName">
                                <img src="{% static 'images/cloth logo.jpg' %}" alt="">

                        </div>


                        <div class="regContainer">

                               
                               
                  
                                <form class="registerForm" action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                    
                          
                                        <label class="label" for="username">Username</label>
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="error">
                                                {% for error in form.username.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    
                                       
                                        <label class="label" for="first_name">First Name</label>
                                        {{ form.first_name }}
                                        {% if form.first_name.errors %}
                                            <div class="error">
                                                {% for error in form.first_name.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    
                                       
                                        <label class="label" for="last_name">Last Name</label>
                                        {{ form.last_name }}
                                        {% if form.last_name.errors %}
                                            <div class="error">
                                                {% for error in form.last_name.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    
                                       
                                        <label class="label" for="email">Email</label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div class="error">
                                                {% for error in form.email.errors %}
                                                    <p>{{ error }}</p> 
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        <label class="label" for="image">Image</label>
                                        {{ form.image }}
                                        {% if form.image.errors %}
                                            <div class="error">
                                                {% for error in form.image.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    
                                       
                                        <label class="label" for="password1">Password</label>
                                        {{ form.password }}
                                        {% if form.password.errors %}
                                            <div class="error">
                                                {% for error in form.password.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    
                                       
                                        <label class="label" for="password2">Confirm Password</label>
                                        {{ form.confirm_password }}
                                        {% if form.confirm_password.errors %}
                                            <div class="error">
                                                {% for error in form.confirm_password.errors %}
                                                    <p>{{ error }}</p> 
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    
                                       
                                        <button class="btn regBtn" type="submit">
                                            Register
                                        </button>
                                    </form>
                                    
                        </div>
                       

                </div>
                <div class="account">
                        <p>Have Account? <a href="{% url 'login' %}">Login</a></p>
                </div>


        </section>
</main>

{% block extra_scripts %}
    {% if messages %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        text: "{{ message }}",
                        timer: 5000
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}



{% endblock %}