{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock %}

{% block body %}

<main>
        <section class="regSection">


                <div class="regMain">
                        <div class="companyName">
                                <img src="{% static 'images/cloth logo.jpg' %}" alt="">

                        </div>


                        <div class="regContainer">

                               
                               
                                <form class="registerForm" action="" method="POST">
                                        {% csrf_token %}
                                                <label class="label" for="username">Username</label>
                                                {{form.username}}
                                                <label class="label" for="first_name">First Name</label>
                                               
                                                {{form.first_name}}
                                  
                                                <label class="label" for="last_name">Last Name</label>
                                        
                                                {{form.last_name}}

                                                <label class="label" for="email">Email </label>
                                               
                                                {{form.email}}
                                
                                  
                                                <label class="label" for="password1">Password</label>
                                               
                                                {{form.password1}}
                                  

                              
                                                <label class="label" for="password2">Confirm Password</label>
                                               
                                                {{form.password2}}
                               
                                                <button class="btn regBtn" type="submit">
                                                        Register
                                       
                                        </div>

                                </form>
                        </div>
                       

                </div>
                <div class="account">
                        <p>Have Account? <a href="{% url 'login' %}">Login</a></p>
                </div>


        </section>
</main>

{% block extra_scripts %}
    {% if messages %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        text: "{{ message }}",
                        timer: 5000
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}



{% endblock %}