{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<section class="sectionContainer">

  <h6><i class="fa-solid fa-envelope"></i> Enter your email</h6>

      <form class="formContainer" method='post'>
        {% csrf_token %}
          <input type="email" class="form-control" placeholder="Email" name="email">
          <button class="btn resetBtn" type="submit">SUBMIT</button>

      </form>

</section>

{% block extra_scripts %}
    {% if messages %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        html: "{{ message }}",  
                        timer: 5000
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}

{% endblock %}