{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<section class="resetSection">
  <div>
    <div class="resetContainer">
      <h4>Reset Password</h4>
      <form method='post'>
        {% csrf_token %}
        <div class="resetEmail">
          <input type="email" class="form-control" placeholder="Email" name="email">
        </div>


        <div>
          <button class="resetBtn" type="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>



</section>
{% endblock %}