{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Pasword{% endblock %}

{% block body %}
<section class="resetSection">
 <h1>Update your password</h1>

      <form class="formContainer" method="post">
          {{ form.as_p }}
          {% csrf_token %}
      
       <input type="submit" value="Change"/>
      </form>


</section>

{% block extra_scripts %}
    {% if messages %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        text: "{{ message }}",
                        timer: 5000
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
{% endblock %}

