{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock %}

{% block body %}

<section class="cartSection">
        <h6><i class="fa-solid fa-globe"></i> All cart items</h6>


        <div class="cartContainer">
                <div id="continueBtn" class="mt-5 mb-5">
                        <i class="fa-solid fa-backward-fast"></i>
                        <a href="{% url 'store' %}"> </i>Continue Shopping</a>
                </div>

                <div class="cartContent">
                        {% if cart_items %}
                        <div id="cartItem">
                                <div  class="relative overflow-x-auto shadow-md sm:rounded-lg">

                                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                <thead
                                                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                                        <tr>
                                                                <th scope="col" class="px-16 py-3">
                                                                        Image
                                                                </th>
                                                                <th scope="col" class="px-6 py-3">
                                                                        Product
                                                                </th>
                                                                <th scope="col" class="px-6 py-3">
                                                                        Quantity
                                                                </th>
        
                                                                <th scope="col" class="px-6 py-3">
                                                                        Price <sub>(per unit)</sub>
                                                                </th>
<!--         
                                                                <th scope="col" class="px-6 py-3">
                                                                        Price <sub>(total)</sub>
                                                                </th> -->
        
        
        
                                                                <!-- <th scope="col" class="px-6 py-3">
                                                                        Action
                                                                </th> -->
                                                        </tr>
                                                </thead>
                                                <tbody>
        
                                                        {% for item in cart_items %}
                                                        <tr
                                                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                                <td id="image" class="p-4">
                                                                        <img class="cartImage"
                                                                                src="{{item.product.productImage.url}}"
                                                                                class="w-16 md:w-32 max-w-full max-h-full"
                                                                                alt="Apple Watch">
                                                                </td>
                                                                <td
                                                                        class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                                                        {{item.product.productName}}
                                                                </td>
                                                                <td class="px-6 py-4">
                                                                        <div class="flex items-center">
        
                                                                                <form action="{% url 'removeCartItem' item.product.id %}"
                                                                                        method="POST">
                                                                                        {% csrf_token %}
                                                                                        <button class="inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                                                                                                type="submit">
                                                                                                <span class="sr-only">Quantity
                                                                                                        button</span>
                                                                                                <svg class="w-3 h-3"
                                                                                                        aria-hidden="true"
                                                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                                                        fill="none"
                                                                                                        viewBox="0 0 18 2">
                                                                                                        <path stroke="currentColor"
                                                                                                                stroke-linecap="round"
                                                                                                                stroke-linejoin="round"
                                                                                                                stroke-width="2"
                                                                                                                d="M1 1h16" />
                                                                                                </svg>
                                                                                        </button>
                                                                                </form>
        
                                                                                <div>
                                                                                        {{item.quantity}}
                                                                                </div>
        
                                                                                <form action="{% url 'addCart' item.product.id %}"
                                                                                        method="POST">
                                                                                        {% csrf_token %}
        
                                                                                        <button class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                                                                                                type="submit">
        
                                                                                                <svg class="w-3 h-3"
                                                                                                        aria-hidden="true"
                                                                                                        fill="none"
                                                                                                        viewBox="0 0 18 18">
                                                                                                        <path stroke="currentColor"
                                                                                                                d="M9 1v16M1 9h16" />
                                                                                                </svg>
                                                                                        </button>
        
                                                                                </form>
        
                                                                        </div>
                                                                </td>
        
                                                                <td
                                                                        class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                                                        {{item.product.price}} Tk.
        
                                                                </td>
        
                                                                <!-- <td
                                                                        class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                                                        {{item.sub_total}} Tk.
        
                                                                </td> -->
        
                                                                <!-- <td class="px-6 py-4">
                                                                        <a class="remove"
                                                                                href="{% url 'removeCartItem' item.product.id %}"
                                                                                class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
                                                                </td> -->
                                                        </tr>
                                                        {% endfor %}
        
        
        
        
                                                </tbody>
                                        </table>
        
        
                                </div>
                        </div>
                

                        {% else %}
                        <p class="text-center py-5">No item in cart</p>
                        {% endif %}

                </div>


        </div>

</section>

<section class="checkoutSection">
     
        <div id="total" class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
       
                <h4><i class="fa-solid fa-bangladeshi-taka-sign"></i></h4>
                
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Want to checkout?</h5>
              
                <hr class="my-4">
                
                <div class="space-y-2">
                  <h3>Sub total: {{total}} <sub>Tk.</sub></h3>
                  <h3>Tax: {{tax}} <sub>Tk.</sub></h3>
                  <h3>Total: {{grand_total}} <sub>Tk.</sub></h3>
                </div>
                
            
                <div class="mt-6">
                  <a id="checkoutBtn"
                     class="btn block w-full text-center text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                     href="{% url 'checkout' %}">
                     Checkout <i class="fa-solid fa-money-bill"></i>
                  </a>
                </div>
              </div>
              

</section>

{% block extra_scripts %}
    {% if messages %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        text: "{{ message }}",
                        timer: 5000
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}



{% endblock %}