{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- ===========Tailwind css============== -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />

    <!-- ==========Fontawesome link =========== -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- ===========swiffyslider link=========== -->
    <link
      href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <!-- ========Internal css link=========== -->
    <link
      href="{% static 'css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="{% static 'css/register.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/signin.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/store.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/details.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/cart.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="{% static 'css/resetPassword.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/social.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/fail.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="{% static 'css/account.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/responsive.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="{% static 'css/footer.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- ====Internal JS===== -->
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
  </head>

  <body>
    <!-- <header>
      <h3>free shipping all over bangladesh</h3>
      <nav>
        <div class="navLogo">
          <img src="{% static 'images/logoNav.png' %}" alt="" />
        </div>
        <input type="checkbox" id="click" />
        <label for="click" class="menuBtn"> <i class="fas fa-bars"></i> </label>
        <ul class="navUl">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'store' %}">Store</a></li>
          <li><a href="{% url 'discount_store' %}">Discount</a></li>
          {% if request.user.is_authenticated %}

          <li><a href="{% url 'account' %}">Account</a></li>
       
          <li>
            <a href="{% url 'cart' %}"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header> -->

    <nav id="pcNav">
      <div class="navTitle">
        <img src="{% static 'images/logoNav.png' %}" alt="" />
      </div>
      <div>
        <ul class="navLinks">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'store' %}">Store</a></li>
          <li><a href="{% url 'discount_store' %}">Discount</a></li>
          {% if request.user.is_authenticated %}

          <li><a href="{% url 'account' %}">Account</a></li>
       
          <li>
            <a href="{% url 'cart' %}"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <nav id="resNav">
      <div class="navTitle">
        <img src="{% static 'images/logoNav.png' %}" alt="" />
      </div>
      <div class="resMenu">
        <div class="resIcon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menuLinks">
          <li><a href="{% url 'home' %}" onclick="toggleMenu()">Home</a></li>
          <li><a href="{% url 'store' %}" onclick="toggleMenu()">Store</a></li>
          <li><a href="{% url 'discount_store' %}" onclick="toggleMenu()">Discount</a></li>
          {% if request.user.is_authenticated %}

          <li><a href="{% url 'account' %}" onclick="toggleMenu()">Account</a></li>
       
          <li>
            <a href="{% url 'cart' %}" onclick="toggleMenu()"><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}" onclick="toggleMenu()">Login</a></li>
          <li><a href="{% url 'register' %}" onclick="toggleMenu()">Register</a></li>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block body %}{% endblock %}

    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="useful-link">
              <h2>Useful Links</h2>
              <div class="use-links">
                <li>
                  <a href="{% url 'home' %}"
                    ><i class="fa-solid fa-angles-right"></i> Home</a
                  >
                </li>
                <li>
                  <a href="{% url 'store' %}"
                    ><i class="fa-solid fa-angles-right"></i> Store</a
                  >
                </li>
                <li>
                  <a href="{% url 'discount_store' %}"
                    ><i class="fa-solid fa-angles-right"></i> Discount</a
                  >
                </li>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="social-links">
              <h2>Follow Us</h2>
              <div class="social-icons">
                <li>
                  <a href="https://www.facebook.com/"
                    ><i class="fa-brands fa-facebook-f"></i> Facebook</a
                  >
                </li>
                <li>
                  <a href="https://www.instagram.com/"
                    ><i class="fa-brands fa-instagram"></i> Instagram</a
                  >
                </li>
                <li>
                  <a href="https://www.linkedin.com/"
                    ><i class="fa-brands fa-linkedin-in"></i> Linkedin</a
                  >
                </li>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="address">
              <h2>Address</h2>

              <div class="address-links">
                <li class="address1">
                  <i class="fa-solid fa-location-dot"></i>
                  Xyz, Abcde
                </li>
                <li>
                  <a href=""><i class="fa-solid fa-phone"></i> +880 10112</a>
                </li>
                <li>
                  <a href=""
                    ><i class="fa-solid fa-envelope"></i> mail@00.com</a
                  >
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <hr />

    <section id="copyrightSection">
      <div class="copyrightContainer">
        <span>@copy || Harunur Rashid</span>
      </div>
    </section>

    <!-- ===========swiffy========= -->
    <script
      src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"
      crossorigin="anonymous"
      defer
    ></script>

    <!-- =======Sweet Alerts======= -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- ==========Tailwind============ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
