{% extends "base.html" %}
{% load static %}
{% block title %}Order{% endblock %}
{% block body %}

<section class="sectionContainer">
        <h6><i class="fa-solid fa-credit-card"></i> Complete your payment</h6>
        <div class="cartContainer">
                <div id="continueBtn" class="mt-5 mb-5">
                        <i class="fa-solid fa-backward-fast"></i>
                        <a href="{% url 'store' %}"> </i>Continue Shopping</a>
                </div>
                <div class="cartContent">


                        <div id="cartItem" class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        <thead
                                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                                <tr>
                                                        <th scope="col" class="px-16 py-3">
                                                                Image
                                                        </th>
                                                        <th scope="col" class="px-6 py-3">
                                                                Product
                                                        </th>
                                                

                                                        <th scope="col" class="px-6 py-3">
                                                                Price <sub>(unit)</sub>
                                                        </th>

                                       



                                                </tr>
                                        </thead>
                                        <tbody>
                                                {% for item in cart_items %}
                                                <tr
                                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                        <td id="image" class="p-4">
                                                                <img class="cartImage"
                                                                        src="{{item.product.productImage.url}}"
                                                                        class="w-16 md:w-32 max-w-full max-h-full"
                                                                        alt="Apple Watch">
                                                        </td>
                                                        <td
                                                                class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                                                {{item.product.productName}}
                                                        </td>
                                  



                                                        <td
                                                                class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                                                {{item.product.price}} Tk.

                                                        </td>

                                                


                                                </tr>
                                                {% endfor %}

                                        </tbody>
                                </table>
                        </div>

                
                </div>


        </div>


</section>

<section class="belowSection">
     
        <div id="total" class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
       
                <h4><i class="fa-solid fa-bangladeshi-taka-sign"></i></h4>
                
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Make your payment.</h5>
              
                <hr class="my-4">
                
                <div class="space-y-2">
                  <h3>Sub total: {{total}} <sub>Tk.</sub></h3>
                  <h3>Tax: {{tax}} <sub>Tk.</sub></h3>
                  <h3>Total: {{grand_total}} <sub>Tk.</sub></h3>
                </div>
                
        
              </div>
              

</section>



<section class="belowSection">
        <h6><i class="fa-regular fa-circle-question"></i> Share your information </h6>
        <div class="orderForm">
                <form class="formContainer" action="" method="POST">
                        {% csrf_token %}
                                <input type="text" name="first_name" placeholder="First Name" required>
                                <input type="text" name="last_name" placeholder="Last Name" required>
                                <input type="email" name="email" placeholder="Email" required>
                                <input type="number" name="phone" placeholder="Phone" required>
                                <input type="text" name="country" placeholder="Country" required>
                                <input type="text" name="city" placeholder="City" required>
                                <input type="text" name="address" placeholder="Adress" required>
                                <button class="btn orderBtn" type="submit">Order <i class="fa-brands fa-first-order"></i></button>
                </form>

        </div>
</section>

{% block extra_scripts %}
    {% if messages %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        text: "{{ message }}",
                        timer: 5000
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}



{% endblock %}